.TodoItem{
    padding: 10px  20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    border-bottom: 1px solid gray;
    display: flex;
    margin:10px;
}
.TodoItem > p {
    margin: 0 15px;
    padding: 10px 5px;
}
.TodoItem :last-child{
    border-bottom:none;
}

.TodoItem-complete{

    text-decoration: line-through;
    opacity: .3;

}

